USE [master]
GO
/****** Object:  Database [IrisDB]    Script Date: 20/04/2026 18:22:39 ******/
CREATE DATABASE [IrisDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IrisDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\IrisDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IrisDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\IrisDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IrisDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IrisDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/04/2026 18:22:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 20/04/2026 18:22:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[LocalAddress] [nvarchar](max) NOT NULL,
	[Urgency] [nvarchar](max) NOT NULL,
	[AdditionalInfo] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/04/2026 18:22:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Senha] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitas]    Script Date: 20/04/2026 18:22:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AddressType] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[ScheduledDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Visitas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260419201456_InitialCreate', N'10.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260419204901_AddStatusToVisita', N'10.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260419211019_UpdateStatusToEnum', N'10.0.6')
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([Id], [ImageUrl], [Category], [LocalAddress], [Urgency], [AdditionalInfo], [CreatedAt], [UserId]) VALUES (1, N'/uploads/538b7aa6-41af-4fff-95f4-fb54b12e1f70.png', N'Lixo acumulado', N'Brasil', N'Media', N'aaaa', CAST(N'2026-04-19T18:19:39.3127700' AS DateTime2), 1)
INSERT [dbo].[Reports] ([Id], [ImageUrl], [Category], [LocalAddress], [Urgency], [AdditionalInfo], [CreatedAt], [UserId]) VALUES (2, N'/uploads/71638b62-884f-4407-8311-9b4842c6f160.jpeg', N'arboviroses', N'Rua exemplo ', N'Alta', N'Ex', CAST(N'2026-04-20T15:20:49.2952307' AS DateTime2), 2)
INSERT [dbo].[Reports] ([Id], [ImageUrl], [Category], [LocalAddress], [Urgency], [AdditionalInfo], [CreatedAt], [UserId]) VALUES (3, N'/uploads/62d54366-5281-4174-a0e4-8a27c916a4c1.jpeg', N'artropodes', N'Exemplo d rua', N'Alta', N'Exemplo de informações ', CAST(N'2026-04-20T16:45:23.4821028' AS DateTime2), 7)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Nome], [Email], [Senha], [Role]) VALUES (1, N'Laurinha', N'lau@gmail.com', N'1234', 0)
INSERT [dbo].[Users] ([Id], [Nome], [Email], [Senha], [Role]) VALUES (2, N'Taylor Maria', N'taylor13@gmail.com', N'123', 0)
INSERT [dbo].[Users] ([Id], [Nome], [Email], [Senha], [Role]) VALUES (3, N'Taylor ', N'taylor@gmail.com', N'13', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitas] ON 

INSERT [dbo].[Visitas] ([Id], [AddressType], [Address], [ScheduledDate], [Reason], [UserId], [Status]) VALUES (1, N'Home', N'Avenida Paulista, 26 - SP, Brazil', CAST(N'2026-04-28T11:30:00.0000000' AS DateTime2), N'Solicito visita pois há uma piscina abandonada no vizinho com água parada, gerando muitos mosquitos.', 1, 1)
INSERT [dbo].[Visitas] ([Id], [AddressType], [Address], [ScheduledDate], [Reason], [UserId], [Status]) VALUES (2, N'Company', N'Rua flores', CAST(N'2026-04-16T15:01:00.0000000' AS DateTime2), N'Falta de infraestrutura ', 2, 0)
INSERT [dbo].[Visitas] ([Id], [AddressType], [Address], [ScheduledDate], [Reason], [UserId], [Status]) VALUES (3, N'Company', N'Aaaa', CAST(N'2026-04-20T18:22:02.4070000' AS DateTime2), N'Hsjahshah', 2, 1)
SET IDENTITY_INSERT [dbo].[Visitas] OFF
GO
/****** Object:  Index [IX_Reports_UserId]    Script Date: 20/04/2026 18:22:40 ******/
CREATE NONCLUSTERED INDEX [IX_Reports_UserId] ON [dbo].[Reports]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Visitas_UserId]    Script Date: 20/04/2026 18:22:40 ******/
CREATE NONCLUSTERED INDEX [IX_Visitas_UserId] ON [dbo].[Visitas]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Users_UserId]
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD  CONSTRAINT [FK_Visitas_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Visitas] CHECK CONSTRAINT [FK_Visitas_Users_UserId]
GO
USE [master]
GO
